nav.navbar.navbar-expand-lg.navbar-dark.sticky-top.bg-primary.flex-md-nowrap.p-0.shadow(role='navigation')
    a.navbar-brand.col-md-3.col-lg-2.mr-0.px-3(
        href='/site/about'
    )= appName
    button.navbar-toggler.position-absolute.d-md-none.collapsed(
        type='button'
        data-toggle='collapse'
        data-target='#sidebarMenu'
        aria-controls='sidebarMenu'
        aria-expanded='false'
        aria-label='Toggle navigation'
    )
        span.navbar-toggler-icon
